**Clustering Toronto neighborhoods based on their characteristics**

In [ ]:
# import libraries

import pandas as pd
import numpy as np
!pip install geocoder
import geocoder
import requests
import folium as fl
from sklearn.cluster import KMeans

**Continuing from the notebook for Q1, dfClean is the cleaned datafreame with postal codes, boroughs, and neighborhoods**

In [8]:
dfClean

,PostalCode,Borough,Neighborhood
0,M1B,Scarborough,"Malvern, Rouge"
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,Scarborough,Woburn
4,M1H,Scarborough,Cedarbrae
...,...,...,...
98,M9N,York,Weston
99,M9P,Etobicoke,Westmount
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ..."
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest..."
102,M9W,EtobicokeNorthwest,"Clairville, Humberwood, Woodbine Downs, West H..."

In [14]:
# get the coordinates for the center of each postal code

dfcoords = pd.read_csv(path)
dfcoords.rename(columns={"Postal Code":"PostalCode"},inplace=True)
dfcoords.head()

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [30]:
# merge into a new df

dfFinal = pd.merge(left=dfClean,right=dfcoords,left_on="PostalCode",right_on="PostalCode")
dfFinal.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476